{{>layout/header}}

<div class="container">
    <div class="sub-title">
        <h4>제방조서자료</h4>
    </div>

    <div class="textAlignCenter searchBox">
        <label for="code">제방코드(필수): </label>
        <input id="code" type="text" style="margin-left:10px;"/>

        <input id="btnSearchW29" type="button" class="btn btn-outline-info" style="margin-left:10px;" value="조회"/>
    </div>
    <div class="saveBox">
        <a id="btnSave" href="" class="btn btn-outline-success" style="margin-left:10px;" value="csv로 저장">csv로 저장</a>
    </div>
    <!--목록 출력 영역-->
    <table id="dataTable" class="table table-horizontal table-bordered">
        <thead class="thead-strong"></thead>
        <tbody id="tbody">
        {{#data}}
            <tr>
                <th>제방코드</th>
                <td>{{bankcd}}</td>
            </tr>
            <tr>
                <th>제방명</th>
                <td>{{banknm}}</td>
            </tr>
            <tr>
                <th>하천명</th>
                <td>{{rivnm}}</td>
            </tr>
            <tr>
                <th>하천등급</th>
                <td>{{rivdv}}</td>
            </tr>
            <tr>
                <th>좌우안</th>
                <td>{{banklr}}</td>
            </tr>
            <tr>
                <th>위치-시점</th>
                <td>{{staddr}}</td>
            </tr>
            <tr>
                <th>측점번호-시점 본번</th>
                <td>{{stchm}}</td>
            </tr>
            <tr>
                <th>측점번호-시점 부번</th>
                <td>{{stchs}}</td>
            </tr>
            <tr>
                <th>위치-종점</th>
                <td>{{edaddr}}</td>
            </tr>
            <tr>
                <th>측점번호-종점 본번</th>
                <td>{{edchm}}</td>
            </tr>
            <tr>
                <th>측점번호-종점 부번</th>
                <td>{{edchs}}</td>
            </tr>
            <tr>
                <th>제방연장(m)</th>
                <td>{{len}}</td>
            </tr>
            <tr>
                <th>계획하폭</th>
                <td>{{plrivwith}}</td>
            </tr>
            <tr>
                <th>둑마루폭(m)</th>
                <td>{{bankwith}}</td>
            </tr>
            <tr>
                <th>비탈면경사-제내</th>
                <td>{{inslp}}</td>
            </tr>
            <tr>
                <th>비탈면경사-제외</th>
                <td>{{outslp}}</td>
            </tr>
            <tr>
                <th>고수호안 종류</th>
                <td>{{ebmttp}}</td>
            </tr>
            <tr>
                <th>시점TM(X)</th>
                <td>{{sttmx}}</td>
            </tr>
            <tr>
                <th>시점TM(Y)</th>
                <td>{{sttmy}}</td>
            </tr>
            <tr>
                <th>종점TM(X)</th>
                <td>{{edtmx}}</td>
            </tr>
            <tr>
                <th>종점TM(Y)</th>
                <td>{{edtmy}}</td>
            </tr>
            <tr>
                <th>제외지현황</th>
                <td>{{outstn}}</td>
            </tr>
            <tr>
                <th>제내지현황</th>
                <td>{{instn}}</td>
            </tr>
            <tr>
                <th>시설물현황(개소)-수문</th>
                <td>{{gatecnt}}</td>
            </tr>
            <tr>
                <th>시설물현황(개소)-통문</th>
                <td>{{pgatecnt}}</td>
            </tr>
            <tr>
                <th>시설물현황(개소)-통관</th>
                <td>{{pipecnt}}</td>
            </tr>
            <tr>
                <th>시설물현황(개소)-배수펌프장</th>
                <td>{{pumtcnt}}</td>
            </tr>
            <tr>
                <th>제방 안정성-제체</th>
                <td>{{bodysf}}</td>
            </tr>
            <tr>
                <th>제방 안정성 기타</th>
                <td>{{etcsf}}</td>
            </tr>
            <tr>
                <th>제방 독마루이용 관리용도로 포장종류</th>
                <td>{{mngrdtp}}</td>
            </tr>
            <tr>
                <th>제방 독마루이용 도로 포장종류</th>
                <td>{{bkrdtp}}</td>
            </tr>
            <tr>
                <th>호안 고수호한 종류</th>
                <td>{{hgebmttp}}</td>
            </tr>
            <tr>
                <th>제내지현황</th>
                <td>{{instn}}</td>
            </tr>
            <tr>
                <th>호안 고수호한 상태</th>
                <td>{{hgebmtst}}</td>
            </tr>
            <tr>
                <th>호안 밑다짐 종류</th>
                <td>{{bedtp}}</td>
            </tr>
            <tr>
                <th>호안 밑다짐 상태</th>
                <td>{{bedst}}</td>
            </tr>
            <tr>
                <th>호안 저수호안 종류</th>
                <td>{{lwebmttp}}</td>
            </tr>
            <tr>
                <th>호안 저수호안 상태</th>
                <td>{{lwebmtst}}</td>
            </tr>
            <tr>
                <th>하도 유로발달 현황</th>
                <td>{{waystn}}</td>
            </tr>
            <tr>
                <th>하도 횡단면형</th>
                <td>{{crstp}}</td>
            </tr>
            <tr>
                <th>하도 하상구성토질</th>
                <td>{{bedsoil}}</td>
            </tr>
            <tr>
                <th>관리기관</th>
                <td>{{mnggv}}</td>
            </tr>
        {{/data}}
        {{^data}}
            <tr>
                <td>해당 데이터가 없습니다.</td>
            </tr>
        {{/data}}
        </tbody>
    </table>
    <div style="height: 100px;"></div>
</div>


{{>layout/footer}}