{{>layout/header}}

<div class="container">
    <div class="sub-title">
        <h4>수위 관측소 제원</h4>
    </div>

    <div class="textAlignCenter searchBox">
        <label for="obscd">관측소코드(필수) : </label>
        <input id="obscd" type="text" style="margin-left:10px;"/>

        <input id="btnSearchW7" type="button" class="btn btn-outline-info" style="margin-left:10px;" value="조회"/>
    </div>
    <div class="saveBox">
        <a id="btnSave" href="" class="btn btn-outline-success" style="margin-left:10px;" value="csv로 저장">csv로 저장</a>
    </div>
    <!--목록 출력 영역-->
    <table id="dataTable" class="table table-horizontal table-bordered">
        <thead class="thead-strong"></thead>
        <tbody id="tbody">
        {{#data}}
            <tr>
                <th>관측소명(한글)</th>
                <td>{{obsnm}}</td>
            </tr>
            <tr>
                <th>관측소명(영문)</th>
                <td>{{obsnmeng}}</td>
            </tr>
            <tr>
                <th>관측소코드</th>
                <td>{{wlobscd}}</td>
            </tr>
            <tr>
                <th>관할기관</th>
                <td>{{mggvcd}}</td>
            </tr>
            <tr>
                <th>수계</th>
                <td>{{bbsncd}}</td>
            </tr>
            <tr>
                <th>표준유역코드</th>
                <td>{{sbsncd}}</td>
            </tr>
            <tr>
                <th>관측개시일</th>
                <td>{{obsopndt}}</td>
            </tr>
            <tr>
                <th>관측기종</th>
                <td>{{obskdcd}}</td>
            </tr>
            <tr>
                <th>하천명</th>
                <td>{{rivnm}}</td>
            </tr>
            <tr>
                <th>유역면적(㎢)</th>
                <td>{{bsnara}}</td>
            </tr>
            <tr>
                <th>하폭(m)</th>
                <td>{{rvwdt}}</td>
            </tr>
            <tr>
                <th>하상경사(degree)</th>
                <td>{{bedslp}}</td>
            </tr>
            <tr>
                <th>하구(합류점)로 부터의 거리(㎞)</th>
                <td>{{rvmjctdis}}</td>
            </tr>
            <tr>
                <th>수원으로부터의 거리(㎞)</th>
                <td>{{wsrdis}}</td>
            </tr>
            <tr>
                <th>주소(지번주소)</th>
                <td>{{addr}}</td>
            </tr>
            <tr>
                <th>경도(GPS좌표계)</th>
                <td>{{lon}}</td>
            </tr>
            <tr>
                <th>위도(GPS좌표계)</th>
                <td>{{lat}}</td>
            </tr>
            <tr>
                <th>TM좌표계 x좌표</th>
                <td>{{tmx}}</td>
            </tr>
            <tr>
                <th>TM좌표계 y좌표</th>
                <td>{{tmy}}</td>
            </tr>
            <tr>
                <th>영점표고(EL.m)</th>
                <td>{{gdt}}</td>
            </tr>
            <tr>
                <th>수준거표고(EL.m)</th>
                <td>{{wltel}}</td>
            </tr>
            <tr>
                <th>조석영향</th>
                <td>{{tdeyn}}</td>
            </tr>
            <tr>
                <th>최고독수(m)</th>
                <td>{{mxgrd}}</td>
            </tr>
            <tr>
                <th>시작시자료</th>
                <td>{{sistartobsdh}}</td>
            </tr>
            <tr>
                <th>마지막시자료</th>
                <td>{{siendobsdh}}</td>
            </tr>
            <tr>
                <th>시작일자료</th>
                <td>{{olstartobsdh}}</td>
            </tr>
            <tr>
                <th>마지막일자료</th>
                <td>{{olendobsdh}}</td>
            </tr>
        {{/data}}
        </tbody>
    </table>
    <div style="height: 100px;"></div>
</div>


{{>layout/footer}}