{{>layout/header}}

<div class="container">
    <div class="sub-title">
        <h4>수위 시자료</h4>
    </div>

    <div class="textAlignCenter searchBox">

        <label for="obscd">관측소코드(필수) : </label>
        <input id="obscd" type="text" style="margin-left:10px;"/>

        <label for="startdt	">관측기간(시작일): </label>
        <input id="startdt" type="text" style="margin-left:10px;"/>
        ~
        <label for="enddt">관측기간(종료일): </label>
        <input id="enddt" type="text" style="margin-left:10px;"/>

        <input id="btnSearchW8" type="button" class="btn btn-outline-info" style="margin-left:10px;" value="조회"/>
    </div>
    <div class="saveBox">
        *관측기간이 6개월 이상인 경우 종료일까지 6개월의 자료가 조회됩니다.*
        <a id="btnSave" href="" class="btn btn-outline-success" style="margin-left:10px;" value="csv로 저장">csv로 저장</a>
    </div>
    <!--목록 출력 영역-->
    <table id="dataTable" class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>관측일시</th>
            <th>수위(EL.m)</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#data}}
            <tr>
                <td>{{ymdh}}</td>
                <td>{{wl}}</td>
            </tr>
        {{/data}}
        </tbody>
    </table>
    <div style="height: 100px;"></div>
</div>


{{>layout/footer}}