{{>layout/header}}

<div class="container">
    <div class="sub-title">
        <h4>강우레이더 영상</h4>
    </div>

    <div class="textAlignCenter searchBox">

        <label for="width">이미지 가로 크기(pixel): </label>
        <input id="width" type="text" style="margin-left:10px;"/>

        <label for="height">이미지 세로 크기(pixel): </label>
        <input id="height" type="text" style="margin-left:10px;"/>
        <br>

        <label for="minx">지도 영역의 가로 최소값 - 경도(GPS좌표계) : </label>
        <input id="minx" type="text" style="margin-left:10px;"/>

        <label for="miny">지도 영역의 세로 최소값 - 위도(GPS좌표계) : </label>
        <input id="miny" type="text" style="margin-left:10px;"/>
        <br>

        <label for="maxx">지도 영역의 가로 최대값 - 경도(GPS좌표계) : </label>
        <input id="maxx" type="text" style="margin-left:10px;"/>

        <label for="maxy">지도 영역의 세로 최대값 - 위도(GPS좌표계) : </label>
        <input id="maxy" type="text" style="margin-left:10px;"/>
        <br>

        <label>영상 촬영 시간 : </label>

        <select id="year">
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
        </select>
        <label for="year">년</label>

        <select id="month">
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <label for="month">월</label>

        <select id="day">
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <label for="day">일</label>

        <select id="hour">
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
        </select>
        <label for="hour">시</label>

        <select id="minute">
            <option value="00">0</option>
            <option value="02">2</option>
            <option value="05">5</option>
            <option value="07">7</option>
            <option value="10">10</option>
            <option value="12">12</option>
            <option value="15">15</option>
            <option value="17">17</option>
            <option value="20">20</option>
            <option value="22">22</option>
            <option value="25">25</option>
            <option value="27">27</option>
            <option value="30">30</option>
            <option value="32">32</option>
            <option value="35">35</option>
            <option value="37">37</option>
            <option value="40">40</option>
            <option value="42">42</option>
            <option value="45">45</option>
            <option value="47">47</option>
            <option value="50">50</option>
            <option value="52">52</option>
            <option value="55">55</option>
            <option value="57">57</option>
        </select>
        <label for="minute">분</label>

        <input id="btnSearchRadar" type="button" class="btn btn-outline-info" style="margin-left:10px;" value="조회"/>
    </div>

    <div style="height: 100px;">
        - 강우레이더 영상은 2018년 1월 3일 8시 55분 부터 조회가 가능<br>
        - 강우레이더 영상은 2.5분 간격으로 촬영이 되며, 시간(time)의 끝 숫자는 0, 2, 5, 7로 조회가 가능
    </div>
    <div style="height: 100px;"></div>
</div>


{{>layout/footer}}