{{>layout/header}}

<div class="container">
    <div class="sub-title">
        <h4>유사량 측정성과</h4>
    </div>

    <div class="textAlignCenter searchBox">
        <label for="obscd">관측소코드(필수) : </label>
        <input id="obscd" type="text" style="margin-left:10px;"/>

        <label for="year">관측년도(YYYY)</label>
        <input id="year" type="text" style="margin-left:10px;"/>

        <input id="btnSearchW19" type="button" class="btn btn-outline-info" style="margin-left:10px;" value="조회"/>
    </div>
    <div class="saveBox">
        <a id="btnSave" href="" class="btn btn-outline-success" style="margin-left:10px;" value="csv로 저장">csv로 저장</a>
    </div>
    <!--목록 출력 영역-->
    <table id="dataTable" class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>관측일</th>
            <th>유량(m³/s)</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#data}}
            <tr>
                <td>{{ymd}}</td>
                <td>{{fw}}</td>
            </tr>
        {{/data}}
        {{^data}}
            <tr>
                <td colspan="2">해당 데이터가 없습니다.</td>
            </tr>
        {{/data}}
        </tbody>
    </table>
    <div style="height: 100px;"></div>
</div>


{{>layout/footer}}