{{>layout/header}}

<div class="sub-title">
    <h4>강수량 관측소 검색</h4>
</div>

<div class="textAlignCenter searchBox">
    <label for="basin"> 권역 : </label>
    <select id="basin">
        <option value="1">한강</option>
        <option value="2">낙동강</option>
        <option value="3">금강</option>
        <option value="4">섬진강</option>
        <option value="5">영산강</option>
        <option value="6">제주도</option>
    </select>

    <label for="oper">운영상태 : </label>
    <select id="oper">
        <option value="y">운영중</option>
        <option value="n">폐쇄</option>
    </select>

    <label for="mngorg">관할기관 : </label>
    <select id="mngorg">
        <option value="1">환경부</option>
        <option value="2">한국수자원공사</option>
        <option value="3">한국농어촌공사</option>
        <option value="4">기상청</option>
        <option value="9">한국수력원자력</option>
    </select>

    <label for="obsknd">관측방법 : </label>
    <select id="obsknd">
        <option value="1">보통</option>
        <option value="2">T/M</option>
        <option value="3">자기</option>
    </select>
    <br><br>

    <label for="keynm">관측소명: </label>
    <input id="keynm" type="text" style="margin-left:10px;" />

    <label for="sort">정렬방법 :</label>
    <select id="sort">
        <option value="1">관측소코드</option>
        <option value="2">관측소명</option>
    </select>

    <label for="output"> 출력 포멧 : </label>
    <select id="output">
        <option value="xml">xml</option>
        <option value="json">json</option>
    </select>

    <input id="btnSave" type="button" class="btn btn-primary" style="margin-left:10px;" value="데이터 저장"/>
</div>

{{>layout/footer}}