{{>layout/header}}

<div class="container">
    <div class="sub-title">
        <h4>강수량 관측소 제원</h4>
    </div>

    <div class="textAlignCenter searchBox">
        <label for="obscd">관측소코드(필수) : </label>
        <input id="obscd" type="text" style="margin-left:10px;"/>

        <input id="btnSearch" type="button" class="btn btn-outline-info" style="margin-left:10px;" value="조회"/>
    </div>
    <div class="saveBox">
        <a id="btnSave" href="" class="btn btn-outline-success" style="margin-left:10px;" value="csv로 저장">csv로 저장</a>
    </div>
    <!--목록 출력 영역-->
    <table id="dataTable" class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>관측소명(한글)</th>
            <th>관측소명(영문)</th>
            <th>관측소코드</th>
            <th>관할기관</th>
            <th>수계</th>
            <th>표준유역코드</th>
            <th>관측개시일</th>
            <th>관측기종	</th>
            <th>주소(지번주소)</th>
            <th>경도(GPS좌표계)</th>
            <th>위도(GPS좌표계)</th>
            <th>해발고(EL.m)	</th>
            <th>자료보유기간-시자료-시작일</th>
            <th>자료보유기간-시자료-최종일</th>
            <th>자료보유기간-일자료-시작일</th>
            <th>자료보유기간-일자료-종료일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#data}}
            <tr>
                <td>{{bbsnnm}}</td>
                <td>{{clsyn}}</td>
                <td>{{mngorg}}</td>
                <td>{{obscd}}</td>
                <td>{{obsknd}}</td>
                <td>{{obsnm}}</td>
                <td>{{sbsncd}}</td>
            </tr>
        {{/data}}
        </tbody>
    </table>
    <div style="height: 100px;"></div>
</div>


{{>layout/footer}}